/** Add css rules here for your application. */


.borderlayout {
	background-color: white;
}

.stateOrder {	
}

.stateTable0, .stateTable1, .stateTable2, .stateTable3, .stateTable4 {
	overflow:auto;
	height:100%;
	width:100px;
	display:block;
	text-align: center;	
	font-style: italic;
}

.stateTable0 {
	background-color:lightgray;
	color: gray;
}

.stateTable1 {
	background-color:rosybrown;
	color: black;
}

.stateTable2 {
	background-color:pink;
	color: black;
	
}

.stateTable3 {
	background-color:red;
	color: black;	
}
.stateTable4 {
	background-color:green;
	color: black;	
}


.searchButton
{
	margin-top: 5px;
}

.hitsLabel {
		font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
		margin-bottom: 4px;
}

.backLabel {
	color: darkblue;
	font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
}

.headerImage {
	height: 20px;
	vertical-align: middle;
}

.headerTxt
{
	margin-left: 20px;
	vertical-align: middle;
}

.modelLabel
{
	font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
	font-weight:bold;
	padding-right: 10px;
}

.modelLabelText
{
	font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
	white-space: nowrap;
	
}

.navText
{
	font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
}

.navText > h3
{
	padding:0px;
	margin:0px;
}

.navPanel
{
	 border-right: 2px dotted #4d90d7;
}

.navIframe
{
	border: 0px;
	height: 700px;
}

.tracksHeader
{
	height:30px;
	width:600px;
}

.tabpanel
{
	background-color: #cdd6e0 !important;
} 