/** Add css rules here for your application. */


.css-vertical-text {
    filter         : progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform  : rotate(90deg);
    -moz-transform     : rotate(90deg);
    -o-transform       : rotate(90deg);
}

.stateTable0 {
	background-color:gray;
	overflow:auto;
	height:100%;
	width:100px;
	display:block;
}

.stateTable1 {
	background-color:rosybrown;
	overflow:auto;
	height:100%;
	width:100px;
	display:block;
}
.stateTable2 {
	background-color:pink;
	overflow:auto;
	height:100%;
	width:100px;
	display:block;
}
.stateTable3 {
	background-color:red;
	overflow:auto;
	height:100%;
	width:100px;
	display:block;
}
.stateTable4 {
	background-color:green;
	overflow:auto;
	height:100%;
	width:100px;
	display:block;
}

.hitsLabel {
		font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
		margin-bottom: 4px;
}

.backLabel {
	color: darkblue;
	font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
}

.headerImage {
	height: 30px;
	vertical-align: middle;
}

.headerTxt
{
	margin-left: 20px;
	vertical-align: middle;
}

.modelLabel
{
	font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif;
}